@import '@styles/index.scss';

.about-us {
	padding: 100px 0 20px;
	&-content {
		display: flex;
		flex-direction: column;
		padding: 40px 30px 20px 30px;
		border-radius: 20px;
		background: $bg-color;
		&__title {
			display: block;
			font-weight: 700;
			font-size: 30px;
			line-height: 40px;
			text-align: center;
			color: $black;
			margin-bottom: 30px;
			& span {
				font-family: 'TT Masters', Arial, Helvetica, sans-serif;
				font-weight: 900;
				color: $red;
			}
		}
		&-text {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			margin-bottom: 50px;
		}
		&-why {
			margin-bottom: 40px;
			&__reasons {
				margin-left: 20px;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: $primary-color;
				list-style: disc;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
		&-contact {
			margin: 40px 0 15px;
			& div {
				display: flex;
				flex-direction: column;
				row-gap: 10px;
			}
		}
	}
}

.sm-desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: $primary-color;
	& span {
		font-family: 'TT Masters', Arial, Helvetica, sans-serif;
		color: $red;
	}
	& a {
		color: $red;
	}
}

.sm-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	color: $black;
	margin-bottom: 15px;
}
