@import '@styles/index.scss';

.sell {
	padding: 100px 0 20px;
	&-content-form {
		position: relative;
		z-index: 1;
		padding: 80px 20px 60px;
		border-radius: 20px;
		margin-bottom: 20px;
		background: url('../../../assets/images/bg.webp');
		display: flex;
		align-items: center;
		justify-content: space-around;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(12, 12, 12, 0.5);
			z-index: -1;
			border-radius: 20px;
		}
	}
	&-hero {
		padding: 100px 0 60px;
		background: $bg-color;
		border-radius: 20px;
		text-align: center;
		&__title {
			font-weight: 700;
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 25px;
			color: $black;
			& span {
				font-family: 'TT Masters', Arial, Helvetica, sans-serif;
				font-weight: 900;
				color: $red;
			}
		}
		&__desc {
			max-width: 1000px;
			width: 100%;
			margin: 0 auto;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: $primary-color;
			& span {
				font-family: 'TT Masters', Arial, Helvetica, sans-serif;
				color: $red;
			}
		}
	}
	&-how {
		padding: 100px 0 0;
		&__title {
			font-weight: 700;
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 55px;
			text-align: center;
			color: $black;
		}
		&-cards {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 30px;
			flex: 1 1 calc(33.33% - 20px);
			&-card {
				max-width: 400px;
				width: 100%;
				height: 260px;
				border-radius: 12px;
				border: 1px solid $border;
				background: $white;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
				&__suptitle {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					width: 100%;
					height: 80px;
					background: $red;
					border-radius: 12px 12px 0 0;
					font-weight: 700;
					font-size: 20px;
					line-height: 26px;
					color: $white;
				}
				&__desc {
					font-weight: 500;
					font-size: 16px;
					line-height: 22px;
					color: $primary-color;
					padding: 20px;
				}
			}
		}
	}
}
