@import '@styles/index.scss';

.products {
	padding: 100px 0 60px;
	color: $black;
	&-contents {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-bottom: 30px;
	}
	&-title {
		font-weight: 600;
		font-size: clamp(22px, 3vw, 32px);
		line-height: 36px;
		text-align: center;
		margin-bottom: clamp(20px, 4vw, 60px);
    @media (max-width: 580px) {
      text-align: left;
    }
	}
	&-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    max-width: 190px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: $red;
    color: $white;
    margin: 0 auto;
    transition: transform 0.1s ease, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }  
    .products-arrow {
      transition: transform 0.3s ease-in-out;
    }  
    &:hover .products-arrow {
      transform: translateX(4px);
    }
  }
}

.card {
	flex: 1 1 calc(33.33% - 20px);
}

@media (max-width: 768px) {
	.card {
		flex: 1 1 calc(50% - 20px);
	}
}

@media (max-width: 480px) {
	.card {
		flex: 1 1 100%;
	}
}
