@import '@styles/index.scss';

.filter-series {
	position: relative;
	user-select: none;
	width: 250px;
	display: flex;
  flex-direction: column;
  row-gap: 10px;
	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: .5px;
		color: $primary-color;
	}
	&-dropdown {
		position: relative;
		cursor: pointer;
		border-radius: 5px;
		padding: 8px;
		height: 40px;
		background: $white;
		border: 1.5px solid $red;
		color: $primary-color;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
		&__selected {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex: 1;
		}
	}

	&-options {
		position: absolute;
		top: 95%;
		left: 0;
		width: 100%;
		border: 1.5px solid #ccc;
		background: $white;
		z-index: 1000;
		max-height: 250px;
		overflow-y: auto;
		padding: 5px 0;
		border-radius: 0 0 5px 5px;
		&__content {
			display: flex;
			column-gap: 8px;
			align-items: center;
			padding: 5px 10px;
			font-weight: 600;
			font-size: 13px;
			line-height: 14px;
			margin-bottom: 3px;
			color: $primary-color;
		}
		&__content input {
			display: none;
		}
		&__content input + .custom-checkbox {
			width: 16px;
			height: 16px;
			border: 2px solid #ccc;
			border-radius: 4px;
			position: relative;
			transition: all 0.3s ease;
		}

		&__content input:checked + .custom-checkbox {
			background-color: $red;
			border-color: $red;
		}

		&__content input:checked + .custom-checkbox::after {
			content: '';
			position: absolute;
			top: -0.5px;
			left: 3px;
			width: 6.5px;
			height: 11.5px;
			border: solid white;
			border-width: 0 3px 3px 0;
			transform: rotate(45deg);
		}

		&__content:hover .custom-checkbox {
			border-color: #888;
		}
	}
}
