@import '@styles/index.scss';

.card {
  position: relative;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  padding: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid $border;

  &-content {
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  &-img {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    & img {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 12px;
      transition: transform 0.4s ease-in-out;
    }
    &:hover > img {
      transform: scale(1.04);
    }

    &:hover > * {
      opacity: 1;
    }
  }

  &-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
  }

  &-more {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 600;
    z-index: 21;
    font-size: 40px;
    line-height: 68px;
    color: $white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &-characteristics {
    padding: 10px 15px;
    color: #1a1a1a;
  }

  &-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
  }

  &-address {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
